.wrapper-component {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    /* overflow: hidden; */
}

.yellow {
    background-color: #F2AD43;
    width: 150px;
    height: 210px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* z-index: 1; */
}

.circle {
    background-color: #fff58f;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* overflow: hidden; */
}

.circle2 {

    height: 170px;
    width: 180px;
    background-color: #E08027;
    position: absolute;
    border-radius: 100px;
    margin-top: 146px;
    margin-right: 127px;
    /* z-index: 0; */

}

.circle3 {

    height: 170px;
    width: 180px;
    background-color: #824B20;
    position: absolute;
    border-radius: 90px;
    margin-top: 146px;
    margin-left: 137px;
    /* z-index: 1; */
    /* overflow: hidden; */

}