* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.background {
    /* background-color: #F3ac3c; */
    background-color: #1a4341;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bigCircle {
    /* position: relative; */
    background-color: #F3ac3c;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    z-index: 2;
}

.big {

    background-color: #998235;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 30px;
    margin-top: 25px;
}

.todoflex {
    display: flex;
}

.medium {
    background-color: #998235;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 55px;
    margin-top: 28px;
}

.small {
    position: absolute;
    background-color: #998235;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 105px;
    margin-top: 23px;
}

.line1 {
    background-color: #F3ac3c;
    width: 8px;
    height: 215px;
    border-radius: 17px;
    position: absolute;
    z-index: -1;
    margin: -48px 0px 0px 67px;
}

.line2 {
    background-color: #F3ac3c;
    width: 8px;
    height: 222px;
    border-radius: 18px;
    position: absolute;
    z-index: -1;
    transform: rotate(60deg);
    margin: -45px 76px 23px 74px;
}

.line3 {
    background-color: #F3ac3c;
    width: 8px;
    height: 222px;
    border-radius: 18px;
    position: absolute;
    z-index: -1;
    transform: rotate(-60deg);
    margin: -45px 76px 23px 74px;
}
